<div class="container">
  <div class="row">
    <div class="col-md-3 col-lg-3">
      <div class="card" style="height: 376px; overflow: hidden;">
        <div>
          <button class="custom-primary">Best Seller</button>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <img src="../assets/istockphoto-459293771-612x612 (1).jpg" class="card-img" alt="Card Image">
        </div>
        <div class="card-body">
          <p class="card-text smaller-text mb-2">Home and Car Fire Extinguishers-classic Range(clean agent based)</p>
          <p class="card-text-total mb-2">&#8377;1119.99 <span class="card-text-amout">&#8377;154.4(50%)</span></p>
          <div class="quantity-button btn-bg-danger">
            <button class="btn btn-bold" (click)="decrement()">-</button>
            <span class="quantity-value">{{ quantity }}</span>
            <button class="btn" (click)="increment()">+</button>
          </div>
          <div>
            <button class="btn btn-danger mt-1 card-button">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="height: 376px; overflow: hidden;">
        <div>
          <button class="custom-primary">Best Seller</button>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <img src="../assets/istockphoto-459293771-612x612 (1).jpg" class="card-img" alt="Card Image">
        </div>
        <div class="card-body">
          <p class="card-text smaller-text mb-2">Home and Car Fire Extinguishers-classic Range(clean agent based)</p>
          <p class="card-text-total mb-2">&#8377;1119.99 <span class="card-text-amout">&#8377;154.4(50%)</span></p>
          <div class="quantity-button btn-bg-danger">
            <button class="btn btn-bold" (click)="decrement()">-</button>
            <span class="quantity-value">{{ quantity }}</span>
            <button class="btn" (click)="increment()">+</button>
          </div>
          <div>
            <button class="btn btn-danger mt-1 card-button">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="height: 376px; overflow: hidden;">
        <div>
          <button class="custom-primary">Best Seller</button>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <img src="../assets/istockphoto-459293771-612x612 (1).jpg" class="card-img" alt="Card Image">
        </div>
        <div class="card-body">
          <p class="card-text smaller-text mb-2">Home and Car Fire Extinguishers-classic Range(clean agent based)</p>
          <p class="card-text-total mb-2">&#8377;1119.99 <span class="card-text-amout">&#8377;154.4(50%)</span></p>
          <div class="quantity-button btn-bg-danger">
            <button class="btn btn-bold" (click)="decrement()">-</button>
            <span class="quantity-value">{{ quantity }}</span>
            <button class="btn" (click)="increment()">+</button>
          </div>
          <div>
            <button class="btn btn-danger mt-1 card-button">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="height: 376px; overflow: hidden;">
        <div>
          <button class="custom-primary">Best Seller</button>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <img src="../assets/istockphoto-459293771-612x612 (1).jpg" class="card-img" alt="Card Image">
        </div>
        <div class="card-body">
          <p class="card-text smaller-text mb-2">Home and Car Fire Extinguishers-classic Range(clean agent based)</p>
          <p class="card-text-total mb-2">&#8377;1119.99 <span class="card-text-amout">&#8377;154.4(50%)</span></p>
          <div class="quantity-button btn-bg-danger">
            <button class="btn btn-bold" (click)="decrement()">-</button>
            <span class="quantity-value">{{ quantity }}</span>
            <button class="btn" (click)="increment()">+</button>
          </div>
          <div>
            <button class="btn btn-danger mt-1 card-button">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- recentl view product carousel -->

<div class="container mt-5  " style="height: 100vh;">
  <h3>Recently viewed</h3>
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-3">
            <div class="product-item" style="height: 100px;">
              <img src="../assets/istockphoto-459293771-612x612 (1).jpg" alt="Product 1" style="height: 150px; width: 100%;">
              <h4>Product 1</h4>
              <p>Description of Product 1</p>
              <button class="btn btn-danger mt-1 card-button">Add to Cart</button>
              
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-item" style="height: 300px;">
              <img src="../assets/istockphoto-459293771-612x612 (1).jpg" alt="Product 2" style="height: 150px; width: 100%;">
              <h4>Product 2</h4>
              <p>Description of Product 2</p>
              <button class="btn btn-danger mt-1 card-button">Add to Cart</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-item" style="height: 300px;">
              <img src="../assets/istockphoto-459293771-612x612 (1).jpg" alt="Product 3" style="height: 150px; width: 100%;">
              <h4>Product 3</h4>
              <p>Description of Product 3</p>
              <button class="btn btn-danger mt-1 card-button">Add to Cart</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-item" style="height: 300px;">
              <img src="../assets/istockphoto-459293771-612x612 (1).jpg" alt="Product 4" style="height: 150px; width: 100%;">
              <h4>Product 4</h4>
              <p>Description of Product 4</p>
              <button class="btn btn-danger mt-1 card-button">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-3">
            <div class="product-item" style="height: 300px;">
              <img src="../assets/istockphoto-459293771-612x612 (1).jpg" alt="Product 5" style="height: 150px; width: 100%;">
              <h4>Product 5</h4>
              <p>Description of Product 5</p>
              <button class="btn btn-danger mt-1 card-button">Add to Cart</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-item" style="height: 300px;">
              <img src="../assets/istockphoto-459293771-612x612 (1).jpg" alt="Product 6" style="height: 150px; width: 100%;">
              <h4>Product 6</h4>
              <p>Description of Product 6</p>
              <button class="btn btn-danger mt-1 card-button">Add to Cart</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-item" style="height: 300px;">
              <img src="../assets/istockphoto-459293771-612x612 (1).jpg" alt="Product 7" style="height: 150px; width: 100%;">
              <h4>Product 7</h4>
              <p>Description of Product 7</p>
              <button class="btn btn-danger mt-1 card-button">Add to Cart</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="product-item" style="height: 300px;">
              <img src="../assets/istockphoto-459293771-612x612 (1).jpg" alt="Product 8" style="height: 200px; width: 100%;">
              <h4>Product 8</h4>
              <p>Description of Product 8</p>
              <button class="btn btn-danger mt-1 card-button">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="container mt-5">
  Recommended for you

</div>


