<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="sidebar">
        <!-- <h2>Sidebar</h2> -->
        <ul class="list-group">
          <!-- Sidebar content here -->
        </ul>
      </div>
    </div>
    <div class="col-10 mt-5 ">
      <div class="row">

        <div class="col-lg-5 col-md-12 col-12">
          <div class="container-fluid d-flex justify-content-start">
            <div class="wrapper">
              <div class="product-box">
                <div class="all-image">
                  <div class="small-images">
                    <img src="../assets/gas.jpg" (click)="clicking('../assets/gas.jpg')" />
                    <img src="../assets/gass.jpg" (click)="clicking('../assets/gass.jpg')" />
                    <img src="../assets/gas.jpg" (click)="clicking('../assets/gas.jpg')" />
                    <img src="../assets/gass.jpg" (click)="clicking('../assets/gass.jpg')" />
                    <img src="../assets/gass.jpg" (click)="clicking('../assets/gass.jpg')" />
                    <!-- <img src="../assets/gass.jpg" (click)="clicking('../assets/gass.jpg')" /> -->
                    
                  </div>
                  <div class="main-images" style="margin-left: 0px; margin-top: 30px;">
                    <img src="../assets/gass.jpg" style="height: 300px;" id="imagebox" />
                    <div class="col-lg-10 col-md-12 mt-0 mt-lg-0" style="margin-top: 50px; margin-left: 5px;">
                      <div class="d-flex align-items-center justify-content-between">
                        <button class="quantity-button btn"
                        style="margin-top: 50px;margin-left: 0px; border: 1px solid red; height: 40px; width: 150px; display: flex; align-items: center; padding: 0 10px; border-radius: 4px;">
                        <div style="flex: 1;">
                          <button class="btn"
                            style="border: none; background-color: transparent; color: black; font-weight: bold; font-size: 16px; width: 50%; height: 100%; padding: 0;">-</button>
                        </div>
                        <span style="font-weight: bold; font-size: 12px; margin: 0 10px;">0</span>
                        <div style="flex: 1;">
                          <button class="btn"
                            style="border: none; background-color: transparent; color: black; font-weight: bold; font-size: 16px;  width: 50%; height: 100%; padding: 0;">+</button>
                        </div>
                      </button>
                      
                        <button class="btn btn-danger btn-block ml-3" style="width: 200px; font-size: large; margin-top: 50px; margin-left: 10px; ">Add to Cart</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-2 col-md-12 mt-3 mt-lg-0">
              <div class="d-flex flex-column align-items-center">
                <button class="btn btn-outline-secondary rounded-circle mb-2"><i class="fas fa-share-alt"></i></button>
                <button class="btn btn-outline-secondary rounded-circle"><i class="fas fa-heart"></i></button>
              </div>
            </div>


          </div>
        
        </div>


        <div class="col-7">
          <div class="row-12 ">
            <p
              style="font-weight: 500; font-size: large; margin-bottom: 30px; font-family: 'Robotp', Arial, Helvetica, sans-serif;">
              CeaseFire Watermist and CAF Fire extinguisher Low-Pressure Backpack Type</p>

            <div class="button d-flex">
              <button style="background-color:#FFC107; border: none; border-radius: 20px; width: 60px; height: 30px;">
                5.0 <span style="color: white;" class="star-icon">&#9733;</span>
              </button>

              <p style="margin-left: 10px; margin-top: 2px;"> 3,876 <span>ratings</span> </p>
            </div>

            <div class="d-flex" style="display: flex; align-items: center; font-family: Arial, sans-serif;">
              <h6 style="text-decoration: line-through; color: grey; margin-right: 2px;">
                <span>&#8377;</span> 2545
              </h6>
              <h4 style="color: #E63946; margin-right: 10px;">
                &#8377;4,454.21
              </h4>
              <h6 style="color: #10A579; margin-left: 10px;">
                &#8377;2542.54 (54%)
              </h6>
            </div>
            <div style="display: flex; align-items: center;">
              <p style="margin-right: 5px; color: #10A579">20 in stock</p>
              <div style="border-right: 1px solid #000; height: 15px; margin: -10px 5px 0;"></div>
              <p style="margin-left: 10px; color: #E63946;">check date-wise availability</p>
            </div>
            <div>
              <hr>
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-column ">
                  <p style="font-size: 14px;">Delivery</p>

                  <div>
                    <button
                      style="margin-right: 5px; border-radius: 10px; height: 25px; width: 60px; border: none;">Work</button>
                    <span> <i class="fas fa-map-marker-alt"></i></span>
                  </div>

                </div>
                <div style="margin-left: 50px;">
                  <p style="font-size: 14px;">
                    Deliver to:John...,EC1V2NX
                  </p>
                  <p style="font-size: 14px;">
                    kemp House ,152-160 City Road ,London
                  </p>

                </div>
                <div>
                  <button type="button" class="btn btn-outline-primary"
                    style="margin-right: 28px; color: black; border-radius: 20px ; width: 110px;">Change</button>
                </div>
              </div>
            </div>
            <hr style="margin-top: 20px;">



          </div>
         
        </div>
        
      </div>

    </div>
  </div>
  
</div>

<hr style="margin-top:-200px;">
<!-- Features product -->
<div class="container-fluid card  d-flex justify-content-center mt-2"
  style="max-width: 1000px; margin-left: 250px; ">
  <!-- nav options -->
  <ul class="nav nav-pills mb-3 shadow-sm" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home" role="tab"
        aria-controls="pills-home" aria-selected="true">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile" role="tab"
        aria-controls="pills-profile" aria-selected="false">Technical Specification</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" href="#pills-contact" role="tab"
        aria-controls="pills-contact" aria-selected="false">Data Sheet</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-videos-tab" data-bs-toggle="pill" href="#pills-videos" role="tab"
        aria-controls="pills-videos" aria-selected="false">Videos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-presentation-tab" data-bs-toggle="pill" href="#pills-presentation" role="tab"
        aria-controls="pills-presentation" aria-selected="false">Presentation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-brochures-tab" data-bs-toggle="pill" href="#pills-brochures" role="tab"
        aria-controls="pills-brochures" aria-selected="false">Brochures</a>
    </li>
  </ul>

  <!-- content -->
  <div class="tab-content p-3" id="pills-tabContent">
    <!-- 1st card -->
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <!-- <form class="search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search..." />
      </form> -->
      <ul class="content">
        <li>
          <div class="wrap">
            <div>Login Attempts</div>
            <p>Number of user login attempts</p>
          </div>
        </li>
        <li>
          <div class="wrap">
            <div>Customer Spend 24h</div>
            <p>Amount customer has spent in the past 24h</p>
          </div>
        </li>
        <li>
          <div class="wrap">
            <div>Device ID is on Blacklist</div>
            <p>Check if a user's device ID is on a blacklist</p>
          </div>
        </li>
        <li>
          <div class="wrap">
            <div>Card Country</div>
            <p>Credit card issue country</p>
          </div>
        </li>
      </ul>
    </div>
    <!-- 2nd card -->
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <div class="form-group addinfo">
        <label for="exampleFormControlTextarea1">Write additional info.</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </div>
    <!-- 3rd card -->
    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
      <div class="form">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Value Type<span>i</span></label>
          <select class="form-control round" id="exampleFormControlSelect1">
            <option class="">United States Dollar</option>
            <option class="amount">Indian Rupees</option>
          </select>
        </div>
        <div class="form-group">
          <label>Amount</label>
          <input class="form-control amount" placeholder="1500" />
        </div>
        <button class="btn btn-success">Insert</button>
      </div>
    </div>
    <!-- 4th card -->
    <div class="tab-pane fade" id="pills-videos" role="tabpanel" aria-labelledby="pills-videos-tab">
      <h4>Videos</h4>
      <p>Content for the "Videos" tab goes here.</p>
    </div>
    <!-- 5th card -->
    <div class="tab-pane fade" id="pills-presentation" role="tabpanel" aria-labelledby="pills-presentation-tab">
      <h4>Presentation</h4>
      <p>Content for the "Presentation" tab goes here.</p>
    </div>
    <!-- 6th card -->
    <div class="tab-pane fade" id="pills-brochures" role="tabpanel" aria-labelledby="pills-brochures-tab">
      <h4>Brochures</h4>
      <p>Content for the "Brochures" tab goes here.</p>
    </div>
  </div>
</div>

<!-- product page -->
<!-- <div class="container-fluid d-flex justify-content-start">
  <div class="wrapper">
    <div class="product-box">
      <div class="all-image">
        <div class="small-images">
          <img src="../assets/gas.jpg" (click)="clicking('../assets/gas.jpg')" />
          <img src="../assets/gass.jpg" (click)="clicking('../assets/gass.jpg')" />
          <img src="../assets/gas.jpg" (click)="clicking('../assets/gas.jpg')" />
          <img src="../assets/gass.jpg" (click)="clicking('../assets/gass.jpg')" />
        </div>
        <div class="main-images" style="margin-left: 50px; margin-top: 50px;">
          <img src="../assets/gass.jpg" style="height: 300px;" id="imagebox" />
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- <button class="quantity-button btn"
  style="margin-top: 50px; border: 1px solid red; height: 40px; width: 200px; display: flex; align-items: center; padding: 0 10px; border-radius: 4px;">
  <div style="flex: 1;">
    <button class="btn"
      style="border: none; background-color: transparent; color: black; font-weight: bold; font-size: 16px; width: 50%; height: 100%; padding: 0;">-</button>
  </div>
  <span style="font-weight: bold; font-size: 12px; margin: 0 10px;">0</span>
  <div style="flex: 1;">
    <button class="btn"
      style="border: none; background-color: transparent; color: black; font-weight: bold; font-size: 16px; width: 50%; height: 100%; padding: 0;">+</button>
  </div>

</button> -->
 
